* {
    box-sizing: border-box;
}

.container {
    width: 300px;
    margin: 0 auto;
}

.title {
    text-align: center;
}
.form-group {
    position: relative;
    margin-bottom: 1em;

    border-bottom: solid 1px #666666;
}

.form-group span::before {
    position: absolute;
    content: " ";
    
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;

    background-color: #2691d9;
}
.form-group input:focus ~ span::before,
.form-group input:focus ~ span::before {
    width: 100%;
    
    transition: all 0.5s;
}

input {
    width: 100%;
    height: 3em;

    border: none;
    outline: none;
    background: none;
}

input:focus {
    border: none;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
    color: #2691d9;
}

label {
    position: absolute;
    top: 50%;
    left: 2px;

    transform: translateY(-50%);

    transition: all 0.2s;
}

button {
    width: 100%;
    padding: 1em;
    margin-bottom: 1.5em;
    
    background-color:#2691d9;
    border: 1px solid;
    border-radius: 20px;
    outline: none;

    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

    transition: border-color 0.2s;
}

button:hover {
    border-color: #2691d9;
}

.forgot-pass {
    display: inline-block;
    margin: 0 0 1em;

    color: #696969;
    text-decoration: none;
}

.forgot-pass:hover {
    text-decoration: underline;
}